* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    width: 100%;
    height: 100%;
}

::selection {
    color: #000000;
    background-color: #fff;
}

main {
    width: 100%;
    /* height: 100%; */
    background-color: #f8f8f8;
    /* background-color: lightcoral; */
    padding-top: 0.1px;
    position: relative;
}

/* Navbar Starts here */

nav {
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 25% 15% 20% 28% 12%;
    grid-template-rows: 10vh;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

nav h1 {
    text-align: center;
    align-content: center;
    position: relative;
}

nav h1 a::after {
    content: "©";
    position: absolute;
    top: 0;
    font-weight: 500;
    font-family: Gilroy;
    font-size: 1.5vw;
    padding-left: 4px;
}

nav h1 a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-family: monument;
    font-size: 2.8vw;
    letter-spacing: -2px;
    cursor: pointer;
    /* border: 1px solid black; */
}

nav h1 a::before {
    content: "model management";
    position: absolute;
    bottom: -13%;
    left: 43%;
    white-space: nowrap;
    font-family: Gilroy;
    font-weight: 700;
    font-size: 1vw;
    color: #757575;
    letter-spacing: -1px;
}

nav h2 {
    border-right: 2px solid #000;
    text-align: center;
    align-content: center;
}

nav h2 a {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

nav h2:nth-last-child(1) {
    text-align: left;
    padding-left: 3.5vw;
    border-right: none;
}

nav h2:nth-last-child(1) a {
    font-weight: 100;
    font-size: 32px;
}

/* Navbar Ends here */

/* Center Section Start */

#center {
    width: 100%;
    height: 90%;
    padding: 2vw 5vw;
    /* background-color: red; */
}

#content {
    width: 100%;
    height: 100%;
    position: relative;
}

#content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay {
    width: 100%;
    height: 50%;
    /* background-color: rgba(0, 0, 0, 0.189); */
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding: 2vw 4vw;
}

#over1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(208, 0, 255); */
    color: #fff;
}

#over1 h1 {
    font-family: Monument;
    font-weight: 600;
    font-size: 4vw;
}

#over1 #circle {
    font-weight: 300;
    font-size: 1.6vw;
    width: 5vw;
    height: 5vw;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    position: relative;
    cursor: pointer;
    transition: all .2s linear;
}

#over1 #circle:hover{
    border-color: #000;
    background-color: black;
}

/* #circle::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: conic-gradient(from 90deg, #fff 90deg, transparent 0);
    mask: radial-gradient(circle, transparent 67%, black 33%);
} */

#over2 {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
    color: #fff;
    border-top: 1px solid #ffffff;
}

#over2 h3 {
    font-size: 1.2vw;
    font-weight: 400;
}

#over2 img {
    width: 95px;
    height: 4vw;
    object-fit: cover;
}

/* Center Section End */

/* Image Slider Starts */

#horizontal-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#image-slider {
    width: 200%;
    height: 40vh;
    display: flex;
}

.slider {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: horizontal-scroll 7s linear infinite;
}

.slide-content {
    width: 12vmax;
    aspect-ratio: 1;
    text-align: center;
}

.slide-content img {
    /* display: none; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.slide-content:nth-child(1) img {
    object-position: center;
}

.slide-content p {
    font-weight: 400;
    font-size: 18px;
}

@keyframes horizontal-scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Image Slider Ends */

/* Alphabet Navigation */

#alphabet-navigation {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabet-navigation h5 {
    font-weight: 500;
    font-size: 1.4vw;
    text-transform: uppercase;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    margin-right: 1.3vw;
}

#alphabet-navigation h6 {
    width: 2.4vw;
    height: 2.4vw;
    color: #4e4e4e;
    font-weight: 500;
    font-size: 1vw;
    font-style: italic;
    text-align: center;
    align-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: border .3s ease;
}

#alphabet-navigation h6:hover {
    border-color: #000;
    color: #111;
}


/* Alphabet Navigation Ends */

/* Page 2 Starts*/

#page2{
    width: 100%;
    height: 300vh;
    /* background-color: salmon; */
    padding: 4vw 5vw;

}

/* Page 2 TOP*/

#page2-top{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}

#page2-top-left{
    width: 50%;
    height: 100%;
}

#page2-top-left img{
    width: 100%;
    height: 92%;
    object-fit: cover;
    object-position: center;
}

#page2-top-left h1{
    width: 100%;
    height: 5%;
    font-family: Monument;
    font-weight: 600;
    font-size: 2vw;
    text-transform: uppercase;
    align-content: center;
    margin-top: 1.8vh;
}

#page2-top-right{
    width: 35%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .8vmax;
    /* background-color: red; */
}

#page2-top-right img{
    width: 100%;
    height: 80vmax;
    object-fit: cover;
    object-position: top;
}

#page2-top-right #top-text-block{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* background-color: yellow; */
}

#top-text-block h3{
    width: 40%;
    font-weight: 600;
    font-size: 1.4vw;

}

#top-text-block p{
    width: 44%;
    height: 100%;
    font-weight: 500;
    font-size: .83vw;

}

/* Page 2 CENTER*/
#page2-center{
    /* border: 2px solid #000; */
    /* background-color: rgb(144, 238, 236); */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

#page2-center-left{
    width: 40%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgb(88, 199, 37); */
}

#page2-center-left #circ-container{
    width: 80%;
    height: 85%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#circ-container #circ-text{
    position: relative;
    width: 40%;
    aspect-ratio: 1;
    /* background-color: rgb(24, 97, 28); */
    transform: scaleX(-1);
    animation: rotateText 10s infinite linear;
}

@keyframes rotateText {
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}

#circ-text span{
    position: absolute;
}

#circ-container img{
    position: absolute;
    width: 80px;
    height: 80px;
}

#page2-center-left h3{
    width: 80%;
    height: 15%;
    font-weight: 600;
    font-size: 1.5vw;
    align-content: end;
    /* background-color: red; */
}

#page2-center-right{
    width: 60%;
    height: 95%;
}

#page2-center-right img{
    width: 100%;
    height: 100%;
    /* background-color: rgb(92, 225, 65); */
    object-fit: cover;
    object-position: 0 40%;
}


/* Page 2 BOTTOM*/
#page2-bottom{
    /* background-color: lightgoldenrodyellow; */
    width: 100%;
    height: 100vh;
    padding: 2vw 0;
    position: relative;
}

#page2-bottom img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: 25% center;
}

#page2-bottom h1{
    position: absolute;
    top: 3vw;
    right: 2vw;
    width: 2.2vmax;
    height: 2.2vmax;
    text-align: center;
    align-content: center;
    font-weight: 400;
    font-size: 1.5vmax;
    border: 3px solid #000;
    border-radius: 50%;
}

/* Page2 Ends */

